@model PhotoContest.WEB.Models.BindModels.NewContestBindModel

@using (Html.BeginForm("New", "Contest", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new Contest.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DeadlineStrategy, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => Model.DeadlineStrategy, PhotoContest.Models.Enums.DeadlineStrategy.ByTime)
                <label for=@PhotoContest.Models.Enums.DeadlineStrategy.ByTime>@PhotoContest.Models.Enums.DeadlineStrategy.ByTime</label>
                @Html.RadioButtonFor(m => Model.DeadlineStrategy, PhotoContest.Models.Enums.DeadlineStrategy.ByNumber)
                <label for=@PhotoContest.Models.Enums.DeadlineStrategy.ByNumber>@PhotoContest.Models.Enums.DeadlineStrategy.ByNumber</label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.RewardStrategy, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => Model.RewardStrategy, PhotoContest.Models.Enums.RewardStrategy.Single)
                <label for=@PhotoContest.Models.Enums.RewardStrategy.Single>@PhotoContest.Models.Enums.RewardStrategy.Single</label>
                @Html.RadioButtonFor(m => Model.RewardStrategy, PhotoContest.Models.Enums.RewardStrategy.Multiple)
                <label for=@PhotoContest.Models.Enums.RewardStrategy.Multiple>@PhotoContest.Models.Enums.RewardStrategy.Multiple</label>
            </div>
            @Html.LabelFor(m => m.NumberOfWinners, new { @class = "col-md-2 control-label" })
            @Html.EditorFor(model => model.NumberOfWinners, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.VotingStrategy, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => Model.VotingStrategy, PhotoContest.Models.Enums.VotingStrategy.Open)
                <label for=@PhotoContest.Models.Enums.VotingStrategy.Open>@PhotoContest.Models.Enums.VotingStrategy.Open</label>
                @Html.RadioButtonFor(m => Model.VotingStrategy, PhotoContest.Models.Enums.VotingStrategy.Closed)
                <label for=@PhotoContest.Models.Enums.VotingStrategy.Closed>@PhotoContest.Models.Enums.VotingStrategy.Closed</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Create" />
            </div>
        </div>
}


